@import './App.scss';

#about {
  @include navBarHeight();
  @include spacing('px', 70px);
  background: transparent;
  background-image: url('../assets/bg/about.svg');
  background-repeat: no-repeat;
  background-size: fill;
  background-position: bottom;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
}

.about {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  h2 {
    color: $dark;
    margin-bottom: 0.7em;
  };
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding-bottom: 3em;
    .card {
      background-color: white;
      border-radius: 10px;
      padding: 2rem 1.5rem 1rem;
      position: relative;
      max-width: 500px;
      margin-top: 4em;
      
      &:first-of-type img {
        background: rgb(102,102,102);
        background: radial-gradient(circle, rgba(102,102,102,1) 0%, rgba(68,68,68,1) 21%, rgba(47,47,47,1) 50%, rgba(34,34,34,1) 70%, rgba(16,16,16,1) 95%, rgba(0,0,0,1) 100%);        box-shadow: none;
      }
      img {
        width: 8em;
        height: 8em;
        position: absolute;
        top: -4em;
        object-fit: cover;
        border-radius: 50%;
        left: calc(50% - 4em);
        margin: 0;
        
        -webkit-box-shadow: 2px 2px 3px -1px rgba(131,131,131,1);
        -moz-box-shadow: 2px 2px 3px -1px rgba(131,131,131,1);
        box-shadow: 2px 2px 3px -1px rgba(131,131,131,1);
      };
      
      h3 {
        color: $dark;
        font-weight: 700;
        font-size: 1.3rem;
        margin: 3rem 0 1rem 0;
        text-align: center;
      };
      p {
        text-align: justify;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: $mediumScreen) { 
  #about {
    @include spacing('px', 1rem);
  }
  .about {
    .content {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }
}