@import './App.scss';

#about {
  @include navBarHeight();
  @include spacing('px', 70px);
  background: transparent;
  background-image: url('../assets/bg/about.svg');
  background-repeat: no-repeat;
  background-size: fill;
  background-position: bottom;
  height: 100vh;
  position: relative;
}

.about {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  max-height: 75%;
  max-width: $max-width;
  margin: 0 auto;
  h2 {
    color: $dark;
    margin-bottom: 2em;
  };
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    .card {
      height: auto;
      background-color: white;
      border-radius: 10px;
      padding: 2rem 1rem 1rem;
      position: relative;
      box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.35);
      -webkit-box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.35);
      -moz-box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.35);
      &:hover {
        transition: 0.5s;
        box-shadow: none;
      }
      img {
        width: 6em;
        height: 6em;
        position: absolute;
        top: -3em;
        object-fit: cover;
        border-radius: 50%;
        left: calc(50% - 3em);
        margin: 0;
      };
      h3 {
        color: $dark;
        font-weight: 700;
        font-size: 1.3rem;
        margin: 2rem 0 1rem 0;
        text-align: center;
      };
      p {
        text-align: justify;
        font-size: 14px;
      }
    }
  }
}