$primary: #ff5e62;
$secondary: #ff2e45;
$blue: #6a98f0;
$light: #fafafa;
$grey: #eaeaea;
$dark: #191919;
$black: #232323; 
$gradient1: -webkit-linear-gradient(135deg, $primary, $blue);
$gradient2: -webkit-linear-gradient(-45deg, $primary 20%, $secondary);
$shadown: 3px 3px 6px 1px rgba(0,0,0,0.35);
$max-width: 1300px;

//Mixin
@mixin center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin text-center {
  font-style: normal;
  text-align: center;
}
@mixin spacing($type, $value) {
  box-sizing: border-box;
  @if ($type == 'mx') {
    margin-left: $value;
    margin-right: $value;
  }
  @if ($type == 'my') {
    margin-top: $value;
    margin-bottom: $value;
  }
  @if ($type == 'px') {
    padding-left: $value;
    padding-right: $value;
  }
  @if ($type == 'py') {
    padding-top: $value;
    padding-bottom: $value;
  }
}
@mixin navBarHeight {
  padding-top: 60px
}

.App {
  background-color: $grey;
  margin: 0;
  & > * {
    box-sizing: border-box;
  }
}

.title {
  font-size: 3.3rem;
  font-weight: 800;
  text-align: left;
  margin: 0;
  white-space: nowrap;
  color: white;
}

.subtitle {
  @include text-center();
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  white-space: nowrap;
  color: $light;
}


// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
