// Variables
// $primary: #ff5e62;
$primary: #ff2e45;
// $primary: #08bb85;
// $primary: #fbdf7e;
$light: #f0f0f0;
$dark: #151515;
$black: #0f0f0f; 


//Mixin
@mixin center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin text-center {
  font-style: normal;
  text-align: center;
}
@mixin spacing($type, $value) {
  @if ($type == 'mx') {
    margin-left: $value;
    margin-right: $value;
  }
  @if ($type == 'my') {
    margin-top: $value;
    margin-bottom: $value;
  }
  @if ($type == 'px') {
    padding-left: $value;
    padding-right: $value;
  }
  @if ($type == 'py') {
    padding-top: $value;
    padding-bottom: $value;
  }
}

.title {
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  margin: 0;
  white-space: nowrap;
  color: $light;
}

.subtitle {
  @include text-center();
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  white-space: nowrap;
  color: $light;
}

.App {
  background-color: $dark;
  margin: 0;
}

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
