@import './App.scss';

#contact {
  @include navBarHeight();
  @include spacing('px', 70px);
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  background: $black;
}

.contact {
  margin: auto;
  max-width: 1060px;
  width: 90%;
  max-height: 900px;
  height: 80%;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  .bar-side {
    display: flex;
    height: 90%;
    top: 5%;
    position: relative;
    align-items: center;
    justify-content: center;
    background: $gradient2;
    border-radius: 20px 0 0 20px;
  }
  .form-side {
    display: flex;
    background-color: $dark;
    border-radius: 25px;
    flex-direction: column;
    padding: 2em;
    .times {
      margin-left: auto;
      position: relative;
      top: -0.5em;
    }
    >div {
      display: flex;
      flex: 3;
    }
    [name=fullName] {
      display: flex;
      flex: 1;
      flex-direction: column;
      margin-right: 1em;
    }
    [name=email] {
      display: flex;
      flex: 1.2;
      flex-direction: column;
      margin-left: 1em;
    }
    [name=message] {
      display: flex;
      flex: 9;
      flex-direction: column;
    }
    [name=fullName],
    [name=email],
    [name=message] {
      margin-top: 1em;
      span {
        font-size: 0.7em;
        margin-bottom: 0.5em;
      }
      input, textarea {
        border: none;
        background: $black;
        padding: 10px;
        color: $light;
        border-radius: 5px;
        font-family: 'Poppins', sans-serif;
        ::placeholder {
          color: $light;
        }
      }
      textarea {
        flex: 1;
        resize: none;
      }
    }
    [name=button] {
      flex: 2;
      margin-left: auto;
      display: flex;
      input {
        width: 100px;
        height: 40px;
        position: relative;
        align-self: flex-end;
        cursor: pointer;
        border: none;
        border-radius: 0.5em;
        background: $primary;
        color: $light;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        bottom: 0;
        right: 0;
        &:hover {
          transition: 0.3s;
          background: $secondary;
          bottom: -2px;
          right: -1px;
        }
      }
    }
    
  }
}
