@import './App.scss';

.footer {
  @include spacing('px', 70px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $dark;
  height: 80px;
  position: relative v;
  bottom: 0;
  a {
    color: $primary;
    font-weight: 500;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: $smallScreen) and (orientation: portrait),
(min-width: $smallScreen) and (max-width: 860px) and (orientation: landscape) {
  .footer {
    @include spacing('px', 1rem);
    span {
      width: 80%;
      font-size: 0.8rem;
      text-align: end;
    }
  }
}