@import './App.scss';

#home {
  @include navBarHeight();
  @include spacing('px', 100px);
  background-color: $grey;
  height: 100vh;
  background: $dark;
  background-image: url('../assets/bg/home.svg');
  background-repeat: no-repeat;
  background-position: 100% 0px;
  background-size: 80vh;
  
  // background: linear-gradient(90deg, $primary 0%, $primary, 70%, $dark 30%, $dark 100%);
}

.home {
  display: flex;
  height: 100%;
  .content {
    flex: 1;
    // background-color: $primary;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .icon-container {
      position: relative;
      top: 20px;
      font-size: 1.5em;
      .icon {
        text-align: center;
        color: $light;
        font-size: 1em;
        &:hover {
          color: $primary;
        }
      }
      &::after {
        content: '';
        margin-right: 1em;
      };
    }
    h3 {
      font-weight: 500;
      font-size: 1.7em;
      line-height: 1em;
    }
    h4 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 0.5em;
    }
    div img {
      border-radius: 0 1.5em;
      margin-right: 1.5em;
    }
  }
}