@import './App.scss';

#home {
  @include navBarHeight();
  @include spacing('px', 70px);
  background-color: $grey;
  height: 100vh;
  background: $dark;
  background: linear-gradient(90deg, $primary 0%, $primary, 50%, $dark 50%, $dark 100%);
}

.home {
  display: flex;
  height: 100%;
  .content {
    flex: 1;
    // background-color: $primary;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .icon-container {
      position: relative;
      top: 20px;
      font-size: 25px;
      .icon {
        text-align: center;
        color: $light;
        font-size: 100%;
        &:hover {
          color: $secondary;
        }
      }
      &::after {
        content: '';
        margin-right: 1em;
      };
    }
    h3 {
      font-weight: 500;
      font-size: 30px;
      line-height: 30px;
    }
    h4 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 0.5em;
    }
    div img {
      border-radius: 0 1.5em;
      margin-right: 1.5em;
    }
  }

  .cover {
    flex: 1;
    // background-color: $dark;
    img {
      width: calc(100% + 70px);
      height: 100%;
      object-fit: contain;
    }
  }
}