@import './App.scss';

#home {
  @include navBarHeight();
  @include spacing('px', 70px);
  height: 100vh;
  background: $dark;
  top: 0;
  right: 0;
  background-image: url('../assets/bg/home.svg');
  background-repeat: no-repeat;
  background-position: 101% -5px;
  background-size: 70vh;
}

.home {
  display: flex;
  height: 100%;
  margin: 0 auto;
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .icons {
      display: flex;
      margin-top: 1.5rem;
      gap: 1.5rem;
      .icon-container {
        font-size: 1.5rem;
        .icon {
          text-align: center;
          color: $light;
          font-size: 1em;
          &:hover {
            color: $primary;
          }
        }
      }
    }
    h1 {
      font-size: 3.5rem;
      font-weight: 800;
      text-align: left;
      margin: 0;
      white-space: nowrap;
      color: white;
    }

    h3 {
      font-weight: 500;
      font-size: 1.7em;
      line-height: 1em;
    }
    h4 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 0.5em;
    }
    div img {
      border-radius: 0 1.5em;
      margin-right: 1.5em;
    }
  }
}

@media (max-width: $mediumScreen) and (orientation: portrait){ 
  #home {
    @include spacing('px', 1rem);
    background-position: 100% -5px;
    background-size: 70vh;
  }
}

@media (max-width: $smallScreen) and (orientation: portrait),
(min-width: $smallScreen) and (max-width: 860px) and (orientation: landscape) {
  #home {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home {
    .content {
      h1 {
        font-size: 2.5rem;
      }
      h3 {
        font-size: 1.3rem;
      }
      .icons {
        margin-top: 2rem;
        justify-content: center;
        .icon-container .icon {
          &:hover {
            color: $dark;
          }
        }
      }
      .data {
        display: none;
      }
    }
  }
}