@import './App.scss';
$navBarHeight: 60px;

.navbar {
  @include spacing('px', 70px);
  height: $navBarHeight;
  position: fixed;
  z-index: 5;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  background: transparent;

  .logo {
    display: flex;
    margin: auto 0px;
    p {
      font-size: 1.25em;
      margin-left: 0.5em;
      color: white;
      font-weight: 300;
      span {
        font-weight: 600;
        font-size: 1.15em;
      }
    }
  }
  nav{
    display: flex;
    align-items: center;
  }
  ul {
    gap: 2em;
  }
  ul li {
    display: inherit;
    // text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    a:hover {
      color: $primary
    }
  }  
}