@import './App.scss';
$navBarHeight: 60px;

.navbar {
  @include spacing('px', 70px);
  height: $navBarHeight;
  position: fixed;
  z-index: 5;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  background: rgba(0,0,0, 0.3);
  backdrop-filter: blur(5px);
  background: linear-gradient(150deg, $dark 15%, transparent 100%);

  .logo {
    align-self: center;
    p {
      color: $light;
      font-size: 19px;
      line-height: 20px;
      font-weight: 500;
    }
  }
  nav{
    display: flex;
    align-items: center;
  }
  ul li {
    display: inherit;
    // text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px;
    font-weight: 500;
    a:hover {
      color: $primary
    }
  }

  .icons {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
    width: 65px;
    a {
      width: 1.4em; 
      height: 1.4em;
      color: greenyellow;
    }
  }
  
}