@import './App.scss';

#projects {
  @include navBarHeight();
  @include spacing('px', 70px);
  background-color: $grey;
  background-image: url('../assets/bg/projects.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  height: 100vh;
  display: flex;
  align-items: center;
}

.projects {
  width: 100%;
  // background: green;
  display: flex;
  align-items: center;
  flex-direction: column;
  h1 {
    margin-bottom: 0.5em;
    color: $dark;
  }
  .content {
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 1.5em;
  }
}

.projects .card {
  width: 300px;
  background: white;
  border-radius: 15px;
  height: 375px;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.30);
  -webkit-box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.30);
  -moz-box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.30);
  // &:hover {
  //   box-shadow: none;
  // }
  .top {
    display: flex;
    position: relative;
    justify-content: space-between;
    .image {
      position: inherit;
      object-fit: contain;
      width: 100%;
      border-radius: 15px 15px 0 0;
    }
    span {
      padding: 0.5em 0.7em;
      box-sizing: border-box;
      position: absolute;
      display: inline-flex;
      width: 100%;
      color: $light;
      justify-content: space-between;
      a {
        cursor: pointer;
      }
    }
  }
  .mid {
    padding: 1em 0.5em;
    flex: 1;
    h3 {
      font-size: 1.4em;
      color: $dark;
    }
    p {
      margin-top: 0.5em;
      font-size: 0.9em;
    }
    button {
      border: solid 2px $primary;
      background: none;
      border-radius: 20px;
      padding: 0.5em 1em;
      margin-top: 1em;
    }
  }
  .bottom {
    width: 100%;
    background: $black;
    height: 35px;
    margin-top: auto;
    border-radius: 0 0 15px 15px;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 0.8em;
    box-sizing: border-box;
    gap: 0.8em;
    img {
      width: 20px;
      &:last-of-type {
        float: right;
        position: absolute;
        right: 0;
        margin: 0 0.8em;
      }
    }
  }
}