@import './App.scss';

#skills {
  @include navBarHeight();
  @include spacing('px', 70px);
  background-color: $dark;
  height: 100vh;
}

.skills {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 4fr;
  align-items: center;
  .content {
    position: relative;
    height: 90%;
    background-color: $dark;
    display: grid;
    grid-template-rows: 2fr auto 2fr;
    grid-template-columns: 1fr;
    .items {
      position: absolute;
      color: $black;
    }
  }
  .front-skills {
    background: #f00;
    position: relative;
    .front0 {
      left: 0px;
    }
    .front1 {
      left: 60px;
    }
    .front2 {
      left: 100px; 
    }
    .front3 {
      left: 150px;
    }
    .front4 {
      left: 200px;
    }
    .front5 {
      left: 250px;
    }
    .front6 {
      left: 340px; 
    }
  }
  .main-skills ul {
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 80px;
    img {
      height: 100%;
    }
  }
  .back-skills {
    // background: #00f;
    position: relative;
    .back0 {
      top: -25%;
      left: 0%;
      font-size: 1.1em;
    }
    .back1 {
      bottom: 20%;
      left: 25%;
      font-size: 1em;
    }
    .back2 {
      top: 50%;
      right: 30%;
      font-size: 0.9em;
    }
    .back3 {
      top: 30%;
      right: 15%;
      font-size: 1em;
    }
  }
}



/*
 .main {
      background: $dark;
      width: 75%;
      height: 80px !important;
      max-width: 750px;
      justify-content: space-between;
      img {
        display: flex;
        width: 80px;
      }
    }
*/


/*

   .front0 {
        background-color: #F00;
        left: 0px;
      }
      .front1 {
        left: 60px;
      }
      .front2 {
        left: 100px; 
      }
      .front3 {
        left: 150px;
      }
      .front4 {
        left: 200px;
      }
      .front5 {
        left: 250px;
      }
      .front6 {
        left: 340px; 
      }
      .back0 {
        left: 400px;
      }
      .back1 {
        left: 500px;
      }
      .back2 {
        left: 580px;
      }
      .back3 {
        left: 650px;
      }
*/