@import './App.scss';

#skills {
  @include navBarHeight();
  @include spacing('px', 70px);
  background-color: $dark;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.skills {
  display: grid;
  grid-template-rows: 1fr 4fr;
  align-items: center;
  width: 100%;
  
  h2 {
    margin-bottom: 1.5em;
  }
  .content {
    position: relative;
    height: 90%;
    background-color: $dark;
    display: grid;
    grid-template-rows: 2fr auto 2fr;
    grid-template-columns: 1fr;
    .items {
      position: absolute;
      color: #444;
      cursor: default;
      &:hover {
        color: $primary; 
        background: $gradient1;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  .front-skills {
    position: relative;
    .front0 {
      top: 30%;
      left: 0%;
      font-size: 1.3em;
      font-weight: 600;
    }
    .front1 {
      left: 30%;
      bottom: 40%;
      white-space: pre-wrap;
      line-height: 1em;
      font-size: 1.4em;
      font-weight: 600;
      text-align: center;
    }
    .front2 {
      left: 50%; 
      font-size: 1.3em;
    }
    .front3 {
      right: 30%;
      top: 5%;
      font-size: 1.1em;
    }
    .front4 {
      right: 20%;
      top: 60%;
      font-size: 1.3em;
      font-weight: 600;
    }
    .front5 {
      right: 5%;
      top: 20%;
      font-size: 0.9em;
    }
    .front6 {
      right: 2%;
      bottom: -25%; 
      font-size: 1.1em;
    }
  }
  .main-skills ul {
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 90px;
    gap: 1.5rem;
    svg path, svg g{
      fill: $primary;
    }
  }
  .back-skills {
    position: relative;
    .back0 {
      top: -20%;
      left: 1%;
      font-size: 1.2em;
    }
    .back1 {
      bottom: 20%;
      left: 25%;
      font-size: 1em;
    }
    .back2 {
      top: 50%;
      right: 30%;
      font-size: 0.9em;
    }
    .back3 {
      top: 30%;
      right: 15%;
      font-size: 1.2em;
      font-weight: 600;
    }
    .back4 {
      bottom: 5%;
      right:  5%;
      font-size: 1.3em;
      font-weight: 600;
    }
  }
}

@media screen and (max-width: $mediumScreen) {
  #skills {
    @include spacing('px', 1em);
  }
  .skills {
    display: flex;
    flex-direction: column;
  }
  .front-skills, 
  .back-skills {
    visibility: hidden;
  }
}
@media screen and (max-width: $smallScreen) {
  .skills {
    .main-skills ul {
      flex-direction: column;
      align-items: center;
      height: auto;
      margin-bottom: 1.5rem;
      gap: 1.5rem;
      li svg {
        height: 8rem;
      }
    } 
  }
}

